<div class="p-3">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4>Edit product Form | id = {{productId}}</h4>
      <div class="">
        <button class="btn btn-primary  me-2" (click)="resetForm()">Reset</button>
        <button class="btn btn-danger" (click)="back()">Back</button>
      </div>
    </div>
    <div class="card-body" *ngIf="productFrom">
      <div class="row">
        <div class="col-md-6">
          {{productFrom.value | json}}
          <form [formGroup]="productFrom" (ngSubmit)="updateProduct()">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name"/>
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input class="form-control" formControlName="price"/>
            </div>
            <div class="mb-3">
              <label class="form-label me-2" for="myCheckBox">Checked</label>
              <input type="checkbox" id="myCheckBox" class="form-check-input" formControlName="checked"/>
            </div>
            <button [disabled]="productFrom.invalid"  class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
