<div class="p-3">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 class="card-title">Products</h4>
      <div>
        <app-spinner/>
      </div>
    </div>
    <div class="card-body" >
      <div class="card-body">
        {{ stateService.appState.keyword }}
        <div class="form-group col-md-6">
          <input class="p-1" type="text" [(ngModel)]="stateService.appState.keyword">
          <button class="btn btn-outline-success ms-1"
                  (click)="searchProducts()">
            <i class="bi bi-search"></i>
            Search
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Checked
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of stateService.appState.products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <input class="form-check-input" type="checkbox"
                   [checked]="product.checked"
                   (change)="onCheckChange($event, product)">
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteProduct(product.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-warning" (click)="editProduct(product.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tbody>
      </table>
     <ul class="nav nav-pills">
      <li *ngFor="let page of [].constructor(this.stateService.appState.totalPages); let i = index"
           class="nav-item">
         <button class="nav-link"
            [class.active]="stateService.appState.currentPage === i + 1"
            (click)="changePage(i + 1)">
           {{ i + 1 }}
         </button>
      </li>
     </ul>
    </div>
  </div>
</div>
